.wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 20px;
    background: #e5e5e5;
    border-radius: 10px;
    cursor: pointer;
}

.value {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
    width: 100%;
}
.value > svg {
    width: 7px;
    opacity: 0.3;
}

.dropdown {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 0px;
    background: var(--color-white);
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 1;
    transition: max-height 0.2s;
}

.items .item {
    display: flex;
    justify-content: flex-start;
    padding: 0.5rem 20px;
    transition: 0.2s;
    cursor: pointer;
}
.items .item:hover,
.items .item__Selected {
    color: var(--color-primary);
}
